<div class="">
  <%= @agent.full_name %>
  <%= @agent.company %>

  <button class="btn btn-info">Call</div><%= @agent.first_name %></button>
  <button class="btn btn-success">Email</div><%= @agent.first_name %></button>
</div>