<div class="agent-details">
  <h3 class="h4"><%= @agent.full_name %></h3>  
  <p><%= @agent.company %></p> 
  
  <button class="btn btn-outline-info text-uppercase mt-3">Call</button>
  <button class="btn btn-outline-success text-uppercase mt-3">Email</button>
</div>