<div class="agent-details">
  <div class="text-center border pt-4 pb-4 ml-3">
    <div class="mb-2">
      <%= profile_picture current_user%> 
    </div>
    <h3 class="h4"><%=  current_user.full_name %></h3>  
    <p><%=  current_user.company %></p> 
    <button class="btn btn-outline-info text-uppercase mt-3">Call</button>
    <button class="btn btn-outline-success text-uppercase mt-3">Email</button>
  </div>
</div>
    

