section#latest-properties {
  padding-left: 112px;
}

.property-thumb {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
}

.property-main-photo {
  height: 750px;
  background-size: cover;
  background-repeat: no-repeat;
}

#prop-details {
  height: 150px;
  overflow: hidden;

  &.open {
    height: auto;
  }  
}

.property-cards {
  max-width: 60%;
   box-sizing: border-box;

}
