.img .property-thumb {
 
  background-size: contain;
 
}

.property-thumb {
 
  background-repeat: no-repeat;
  background-position: center center;
  align-content: center;
  // height:170px;
  // width:364px ;
  display: block;
}

.property-main-photo {
  height: 750px;
  background-size: cover;
  background-repeat: no-repeat;
}

#prop-details {
  height: 150px;
  overflow: hidden;

  &.open {
    height: auto;
  }  
}

.card-product {
 
}
