<main role="main" class="main-banner" id ="home-banner">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Search for a new home today...</h1>
      <p>Choose from hundreds of beautiful bungalows, apartements and condominiums.</p>
      <p><a class="btn btn-success" href="#" role="button">View Lastest Porperties</a></p>
    </div>
  </div>  
  <section id="lastest-properties" class="mb-4" >
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class=" mb-2 text-center">Lastest Properties</h2>
        </div>
      </div>
      <div class="row">
        <%= render "properties/list", properties: @properties %>
      </div>
    </div>
    <hr>
  </div>
  </section>
  <section id="sale-properties" class="mb-4" >
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class=" mb-3 text-center">Property For Sale</h2>
        </div>
      </div>
      <div class="row">
        <%= render "properties/list", properties: @properties.for_sale %>
      </div>
    </div>
    <hr>
  </div>
  </section>
  <section id="rent-properties" class="mb-4" >
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class=" mb-3 text-center">Property For Rent</h2>
        </div>
      </div>
      <div class="row">
        <%= render "properties/list", properties: @properties.for_rent %>
      </div>
    </div>
    <hr>
  </div>
  </section> 
  <section>
    <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="m-3 text-center">Latest News</h2>
          </div>
        </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Most Properties</h2>
          <p>The most comprehensive property listings for sale. Search condos, terrace houses, apartments, bungalows, semi-d or more.</p>        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Most Rentals</h2>
          <p>Looking to rent a home in a condo, apartment, studio apartment or terrace? We have the most comprehensive property listings in your area. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Property News</h2>
          <p>Stay up to date on the property market with our informative blog posts. Get helpful tips on mortgages, choosing a property and more.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
    </div> 
    <hr>
  </section>
  <section id="latest-posts" class="mb-5" >
    <div class="container">
      <div class="row">
        <div class="col">
          <h3 class="m-3 text-center">Latest posts</h3>
        </div>
      </div>
        <div class="row">
          <%= render "posts/list", posts: @posts %>
        </div>
     </div>
    </div>
  </section>
</main>
